#mainPage
    #up
        ul.fly-in-text.unshown
            li D
            li E
            li L
            li O
            li N
            li I
            li F
            li R
    #slogan.unshown
        div
            p swiss made
        #btnLayer(onclick="lightUp()")
            img#interruptor(src="images/interruptor.png")
            img#intInside(src="images/interruptor.png")

//(href="#aboutUs")

script.
    launchMainPage();

    function launchMainPage() {
        setTimeout(function () {
            $('#mainPage .fly-in-text').removeClass('unshown');
        }, 300);
        setTimeout(function () {
            $('#mainPage #slogan').removeClass('unshown');
        }, 2800);
    }

    function mainPageFadeIn() {
        $('#mainPage .fly-in-text').fadeOut();
        setTimeout(function () {
            $('#mainPage .fly-in-text').fadeIn();
        }, 500);
    }

    function lightUp() {
        $('#mainPage').addClass("lightOn");
        $('#btnLayer').fadeOut();
    }
