footer.text-center
    #headFooter
        a.up-arrow(href='#mainPage', data-toggle='tooltip', title='TO TOP')
            span.glyphicon.glyphicon-chevron-up
        br
        p
        | DELONIFR

    .social-btns
        a.btn.facebook(href='#')
            i.fa.fa-facebook
        a.btn.twitter(href='#')
            i.fa.fa-twitter
        a.btn.google(href='#')
            i.fa.fa-google



