#ourLocation.container
    .row
        #map-outer.col-md-12
            #address.col-md-4.col-xl-4.col-xs-12
                .row
                    .col-md-12.col-xl-12.col-xs-12
                        h2 Contact information
                        .col-md-6.col-xl-6.col-xs-6(style="padding-left: 0;")
                            address
                                strong DELONIFR Ltd.
                                br
                                | Junailijankuja 5
                                br
                                | 00520 Helsinki
                                br
                                | Finland
                                br

                        .col-md-6.col-xl-6.col-xs-6(style="padding-left: 0;")
                            | Monday to Friday
                            br
                            i.glyphicon.glyphicon-time
                            | &nbsp;07h00 - 12h00
                            br
                            i.glyphicon.glyphicon-time
                            | &nbsp;13h30 - 18h00
                            br
                            i.glyphicon.glyphicon-earphone
                            |  +39 041 240 5411
                            br
                            i.glyphicon.glyphicon-envelope
                            | &nbsp;delonifr@info.com

                    #custMessage.col-md-12.col-xl-12.col-xs-12
                        h2 We are here for you
                        p   Please do not hesitate to contact us if you need any information. Our team will put all its effort towards providing you the best service! You can contact us or come to our office during the working hours mentioned above. Our office is located only 5min by foot from the railway station of Pasila.
            #map.col-md-8.col-xl-8.col-xs-12


    //.col-lg-6
            #rightPart

script(src="/javascripts/googleMaps.js")
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAhPQDrcN4HPJ4--0Aj1a3wMqqSyXe7U_U&callback=initMap')
















