.container
    .row
        #map-outer.col-md-12
            #address.col-md-4.col-xl-4.col-xs-12
                .row
                    .col-md-12.col-xl-12.col-xs-12
                        h2 Our Location
                        address
                            strong Peggy Guggenheim Collection
                            br
                            | Dorsoduro, 701-704
                            br
                            | 30123
                            br
                            | Venezia
                            br
                            | Italia
                            br
                            abbr P:
                            |  +39 041 240 5411
                    .col-md-12.col-xl-12.col-xs-12.
                        h2 Lorem
                        p   Accedebant enim eius asperitati, ubi inminuta vel laesa amplitudo imperii dicebatur, et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia et dolere inpendio simulantium, si principis periclitetur vita, a cuius salute velut filo pendere statum orbis terrarum fictis vocibus exclamabant.
            #map.col-md-8.col-xl-8.col-xs-12


    //.col-lg-6
            #rightPart

script(src="/javascripts/googleMaps.js")
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAhPQDrcN4HPJ4--0Aj1a3wMqqSyXe7U_U&callback=initMap')
















