#mainPage
    #up
        ul.fly-in-text.unshown
            li D
            li E
            li L
            li O
            li N
            li I
            li F
            li R
    #slogan.unshown
        div
            p swiss made
            #btnInterruptor(onclick="lightUp()")
                a(href="#aboutUs")
                    img#interruptor(src="images/interruptor.png")

script.
    launchMainPage();

    function launchMainPage () {
        setTimeout(function () {
            $('#mainPage .fly-in-text').removeClass('unshown');
        }, 300);
        setTimeout(function () {
            $('#mainPage #slogan').removeClass('unshown');
        }, 2800);
    }

    function mainPageFadeIn(){
        $('#mainPage .fly-in-text').fadeOut();
        $('#mainPage #slogan').fadeOut();
        setTimeout(function(){
          $('#mainPage .fly-in-text').fadeIn();
          $('#mainPage #slogan').fadeIn();
        }, 1000);
    }

    function lightUp(){
      $('#mainPage').addClass("lightOn");
      $('#interruptor').fadeOut();
    }