extends layout

block content
    include navbar
    include header
    include companyDesc
    include slidingMenu
    include carousel
    //include test
    //include test2
    //include slider
    include scrollingPopup
    //include scrollingPopup
    include modalQuote
    include quote
    include googleMaps







    include footer
    script(src="/javascripts/smoothScrolling.js")






