extends layout

block content
    include navbar
    include header
    include companyDesc
    include carousel
    //include test
    //include test2
    //include slider
    include scrollingPopup
    include quote
    include googleMaps
    include footer
    script(src="/javascripts/smoothScrolling.js")



