extends layout

block content
  include navbar
  include mainBody
  include myCarousel1
  //include test
  //include test2
  //include slider
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br