extends layout

block content
  include navbar
  include companyDesc
  include carousel
  //include test
  //include test2
  //include slider
  include scrollingPopup
  include quote
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br