extends layout

block content
    include navbar
    include mainBody


    //include test
    //include test2
    //include slider
    include scrollingPopup
    include quote
    include myCarousel1
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br