extends layout

block content
  include navbar
  include mainBody
  include myCarousel1
  include quote
  //include test
  //include test2
  //include slider
<<<<<<< HEAD



  include scrollingPopup
  include api
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br