doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel=" icon" href="images/favicon.ico")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/bootstrap.min.js")

        link(rel='stylesheet', href='/stylesheets/scrollingPopup.css')
        link(rel='stylesheet', href='/stylesheets/slidingMenu.css')
        link(rel='stylesheet', href='/stylesheets/styleSlider.css')

        //ckeditor
        script(type="text/javascript" src="javascripts/ckeditor/ckeditor.js")
        script(type="text/javascript" src="javascripts/ckeditor/adapters/jquery.js")
        script(src="javascripts/ckeditorWait.js")

        //ourApi
        script(src="http://localhost:3000/api/js")
    //data-spy="scroll" data-target=".navbar" data-offset="50"

    body
        block content
