doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel=" icon" href="images/favicon.ico")
        link(rel='stylesheet', href='/stylesheets/style.css')
        // CSS ADDED BY FREDERIC
        link(rel='stylesheet', href='/stylesheets/scrollingPopup.css')
        // END CSS BY FREDERIC
        //link(rel='stylesheet', href='/stylesheets/styleImageEffect.css')
        //link(rel='stylesheet', href='/stylesheets/styleSlider.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/bootstrap.min.js")

    body(data-spy="scroll" data-target=".navbar" data-offset="50")
        block content