nav(class="navbar navbar-inverse navbar-fixed-top" id="navbar1")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#mainPage" onclick="mainPageFadeIn()") DELONIFR
        #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="#aboutUs") Company
                li
                    a(href="#work") Work
                li
                    a(href="#myQuote") Contact
                li
                    a(href="#ourLocation") Location
                li.dropdown.dropDownLanguages
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Language
                    span.caret
                  ul.dropdown-menu
                    li
                      a.french(href="http://localhost:3000/french") Français
                    li
                      a.english(href="http://localhost:3000/") English

script.
  $("#navbar1").hide(); // Hide the navigation bar first

  $(window).scroll(function () {  //Listen for the window's scroll event
    if(isScrolledAfterElement("#aboutUs")) { //if it has scrolled beyond the #content element
      $('#navbar1').fadeIn();  // Show the navigation bar
    } else {
      $('#navbar1').fadeOut(); // Else hide it
    }
  });

  //Function that returns true if the window has scrolled beyond the given element
  function isScrolledAfterElement(elem) {
    var $window = $(window);
    var docViewTop = $window.scrollTop();
    //var docViewBottom = docViewTop + $window.height();
    return $(elem).offset().top <= docViewTop;
  }


