.quote
    .container
        .row
            .col-6.col-sm-6.col-md-6.col-lg-6.col-lx-6
                h1 Looking for a quote

            .col-6.col-sm-6.col-md-6.col-lg-6.col-lx-6
                button#myBtn.btn.btn-default.btn-lg(type='button') Login

                .container
                    #myModal.modal.fade(role="dialog")
                        .modal-dialog
                            .modal-content
                                .modal-header(style="padding:35px 50px;")
                                    button.close(type='button', data-dismiss='modal') ×
                                    h4
                                        span.glyphicon.glyphicon-lock
                                        |  Login

                                .modal-body(style='padding:40px 50px;')
                                    form(role='form')
                                        .row
                                            .form-group.col-6.col-sm-6.col-md-6.col-lg-6.col-lx-6
                                                label(for='firstName')
                                                    |  First Name
                                                input#firstName.form-control(type='text', placeholder='Enter your first name')
                                            .form-group.col-6.col-sm-6.col-md-6.col-lg-6.col-lx-6
                                                label(for='lastName')
                                                    |  Last Name
                                                input#lastName.form-control(type='text', placeholder='Enter your last name')


                                        .row
                                            .form-group.col-6.col-sm-6.col-md-6.col-lg-6.col-lx-6
                                                label(for="lstCountries")
                                                    |Phone number country
                                                select#lstCountries.form-control.bfh-countries(data-country='US' onchange="loadFormat()")
                                            .form-group.col-6.col-sm-6.col-md-6.col-lg-6.col-lx-6
                                                label(for="number")
                                                    | &nbsp;
                                                .input-group
                                                    span.input-group-addon
                                                        i.glyphicon.glyphicon-phone-alt
                                                            |&nbsp;
                                                        span#phoneNumber

                                                    input#number.form-control.bfh-phone(type='text', data-country='countries_phone1')

                                        .form-group
                                            label(for='psw')
                                                span.glyphicon.glyphicon-eye-open
                                                |  Password
                                            input#psw.form-control(type='text', placeholder='Enter password')
                                        .checkbox
                                            label
                                                input(type='checkbox', value='', checked='')
                                                | Remember me
                                        button.btn.btn-success.btn-block(type='submit')
                                            span.glyphicon.glyphicon-off
                                            |  Login

                                .modal-footer
                                    button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
                                        span.glyphicon.glyphicon-remove
                                        |  Cancel
                                    p
                                        | Not a member?
                                        a(href='#') Sign Up
                                    p
                                        | Forgot
                                        a(href='#') Password?









    //style.
    //    .modal-header, h4, .close {
    //        background-color: #5cb85c;
    //        color:white !important;
    //        text-align: center;
    //        font-size: 30px;
    //    }
    //    .modal-footer {
    //        background-color: #f9f9f9;
    //    }


    script.
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });

    script(src="javascripts/phoneNumbers.js")

