#myQuote
    .container
        .title
            h1 Looking for a quote
        .bodyt
            .lorem
                p Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                .taskContParentdiv
                    .taskCont
                        ul.contactReasons
                            li Ceiling
                            li Internet
                            li Stairs
                    .taskCont
                        ul.contactReasons
                            li Walls
                            li Isolation
                            li and more
            .myBtn
                .bt
                    p Contact us

script.
    $(document).ready(function () {
        $(".myBtn").click(function () {
            $("#myModal").modal();
        });
    });


        





