#work.scrollPopup
  .section.animate
    .middle
      img(src='images/scrollingPopupImages/elec_main.png')
    .left.title.titleElectricity
      .content
        h2 Power up your house.
        p
          | Electricity is nowadays the main requirement in a house to feel confortable.
          | We are concerned about it and we work to provide the best service possible.
        .btn-scrollPopup Learn more
    .right.tiles
      img(src='images/scrollingPopupImages/elec_lustre.png' id="elec_luster")
      img(src='images/scrollingPopupImages/elec_panels.png' id="elec_panels")
      img(src='images/scrollingPopupImages/elec_worker.png' id="elec_worker")
      img(src='images/scrollingPopupImages/elec_outside.png' id="elec_outside")
  .section.plaster
    .middle
      img(src='images/scrollingPopupImages/plaster_intwall.png')
    .right.title.titlePlaster
      .content
        h2 Decorating your walls.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .btn-scrollPopup Learn more
    .left.tiles
      img(src='images/scrollingPopupImages/plaster_ceiling.png' id="plaster_ceiling")
      img(src='images/scrollingPopupImages/plaster_worker.png' id="plaster_worker")
      img(src='images/scrollingPopupImages/plaster_intwall.png' id="plaster_intwall")
      img(src='images/scrollingPopupImages/plaster_extwall.png' id="plaster_extwall")
  .section
    .middle
      img(src='https://images.unsplash.com/photo-1465326117523-6450112b60b2?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80')
    .left.title.titlePlaquetry
      .content
        h2 Warm up your floor.
        p
          | The floor of a house is used every day. That is the reason why we want that each customer has the best
          | quality plaquetry to warm up their interior.
        .btn-scrollPopup Learn more
    .right.tiles
      img(src='https://images.unsplash.com/photo-1465326117523-6450112b60b2?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80')
      img(src='https://images.unsplash.com/photo-1465326117523-6450112b60b2?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80')
      img(src='https://images.unsplash.com/photo-1465326117523-6450112b60b2?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80')
      img(src='https://images.unsplash.com/photo-1465326117523-6450112b60b2?dpr=2&auto=format&crop=entropy&fit=crop&w=250&h=250&q=80')

#customizedModal.container.modal.fade(role="dialog")
  .modal-dialog.modal-content
    .modal-header
      h4
    .modal-body
      p

script(type="text/javascript" src="javascripts/api/routes.js")

script.
  $(".tiles").click(function(e) {
    getData(e.target.id, function(res){

      $("#customizedModal").on('show.bs.modal', function (e) {
        console.log(res);
        if(res) {
          $(this).find('.modal-header h4').html(res.header);
          $(this).find('.modal-body p').html(res.desc);
        }else{
          $(this).find('.modal-header h4').html('A Lorem');
          $(this).find('.modal-body p').html('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.');
        }
      });

      $('#customizedModal').modal();
    });
  });

script.
  $(document).ready(function () {
    var sm = 480;

    function resizeThis() {
      var imgH = $('.middle img').width();
      if ($(window).width() >= sm) {
        $('.left,.right,.section').css('height', imgH);
      } else {
        $('.left,.right,.section').css('height', 'auto');
      }
    }

    resizeThis();

    $(window).resize(function () {
      resizeThis();
    });

    $(window).scroll(function () {
      $('.section').each(function () {
        var $elementPos = $(this).offset().top;
        var $scrollPos = $(window).scrollTop();

        var $sectionH = $(this).height();
        var $h = $(window).height();
        var $sectionVert = (($h / 2) - ($sectionH / 4));

        if (($elementPos - $sectionVert) <= $scrollPos && ($elementPos - $sectionVert) + $sectionH > $scrollPos) {
          $(this).addClass('animate');
        } else {
          $(this).removeClass('animate');
        }
      });
    });

    $('.btn-scrollPopup').click(function (e) {
      console.log(e.target);
      var $modal = $("#scrollModal").modal();
    });

  });

  /*
   $(function() {
   $('a[href*="#"]:not([href="#"])').click(function() {
   if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
   var target = $(this.hash);
   target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
   if (target.length) {
   $('html, body').animate({
   scrollTop: target.offset().top
   }, 1000);
   return false;
   }
   }
   });
   });
   */