//Created by fredericlopesgoncalvesmagalhaes on 22.02.17.
#aboutUs.container
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      h1 DELONIFR
      p Created in 2015, DELONIFR started working in two domains:
      p
        | Since, we improved our way of working and bring a new domain to the list
        span the parquetry
        | which is completing our working areas to create designed and welcoming houses.
      ul.slidingIn.invisible
        li Electricity
        li Plasterer
        li Plaquetry
    .col-xs-12.col-sm-5.col-md-5.col-lg-5
      h2 From dream to reality
      p
        | In 2010, during a beer talk, we started talking about creating a company that would be able to combine the construction
        | and the art of design.
      p Two years later, in the same bar, the same idea came back but this time we decided to take risks and start working
        | on the basements of the company to launch it. Everything started like a hobby without any goal of success, it was
        | a try for a try.
      p See more about the founder by clicking on more.
  #mySlider
    .btnSlider.btnSlider-more(onclick='mySlider()')
      h4 More
    #slider_hidden
      .btnSlider.btnSlider-less(onclick='mySlider()')
        h4 Back
      .slider-content
        .content(style="top:50%; position:absolute; transform: translate(0, -50%); padding-right: 15px;")
          h3 The founders
          p
            | Two friends: Frederic & Nicolas founded DELONIFR in 2015.
          p
            strong "Sometimes, drinking a beer can merge a good idea"
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .slider-imgs
        div(style="display: block; height:50%;")
          img(src="/images/founder_f.png" class="roundedImageShadow" style="position:relative;top:50%; transform:translate(0, -50%);")
        div(style="display: block; height:50%; weight:100%;")
          img(src="/images/founder_n.png" class="roundedImageShadow" style="position:relative; top:50%; transform:translate(0, -50%);")

  script.
    function mySlider() {
      var hiddenPage = document.getElementById("slider_hidden");
      if (hiddenPage.classList.contains("show")) {
        hiddenPage.classList.remove("show");
      } else {
        hiddenPage.classList.add("show");
      }
    }

  script.
    $(window).scroll(function() {  //Listen for the window's scroll event
      if (isScrolled("#aboutUs ul.slidingIn")) { //if it has scrolled beyond the #content element
        $('#aboutUs ul.slidingIn').removeClass('invisible');
      } else {
        $('#aboutUs ul.slidingIn').addClass('invisible');
      }
    });

    //Function that returns true if the window has scrolled beyond the given element
    function isScrolled(elem) {
      var elemTop = $(elem).offset().top;
      var elemBottom = elemTop + $(elem).outerHeight(true);
      var $window = $(window);
      var docViewTop = $window.scrollTop();
      var docViewBottom = docViewTop + $window.height();
      return docViewBottom >= elemTop && elemBottom >= docViewTop;
    }
