.test
    .overlay-wrapper
        .pane
            section.content
                h1 Gooey!
                h1 Gooey!
                h1 Gooey!
                h1 Gooey!
        canvas#canvas
        #top.pane.hidden
            section.content
                h1 Gooey!
                h1 Gooey!
                h1 Gooey!
                h1 Gooey!

script(type="text/javascript " src="/javascripts/myJs.js")