/*Google maps*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#custMessage{
    padding-top: 40px;
}

#ourLocation{
    margin-top: 20px;
}

#map-outer #address{
    padding-left: 0;
}

#map {
    height: 440px;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color:#FFF
}
#map-container {
    height: 400px
}

@media all and (max-width: 991px) {
    #map-outer  {
        height: 650px
    }
    #custMessage{
        padding-top: 0px;
    }
}

commentBlock{
    background-color: grey;
    width: 600px;
    height: 600px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}