.languages {
  right: 10px;
  position: fixed;
  margin-top: 7px;
  z-index: 10000;
}

.languages .french, .languages .english {
  display: inline-block;
  opacity: 0.6;
  margin: 5px;
  width: 32px;
  heigth: 24px;
  overflow: hidden;
}

.languages .french:hover, .languages .english:hover{
  opacity: 0.9;
}
.languages .french:active, .languages .english:active{
  opacity: 1;
}
.languages .english img {
  margin-left: -32px;
}