/*Quote - modal*/
#logo-sm{
    width: 50%;
}

#headerQuote {
    color: snow;
    background-color: sandybrown;
    background-image: url("/images/quote-header.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

#headerQuote h1 {
    letter-spacing: 10px;
    font-style: 'Roboto';
}