#aboutUs{
  position: relative;
  background-color: #ffffff;
  width: 100vw;
  overflow:hidden;
  padding-left: 20px;
  margin-bottom: 20px;
}

#mySlider {
  display: none;
}

#mySlider .btnSlider {
  vertical-align: middle;
  position: absolute;
  background-color: #c8c4ae;
  width: 50px;
  bottom: calc(50% - 25px);
  transition: width .7s;
  -webkit-transition: width .7s;
}

#mySlider .btnSlider:hover{
  background-color: #beb793;
  cursor: pointer;
  width: 70px;
}

#mySlider .btnSlider-more {
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
  right: 0;
  animation-name: example;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-name: example;
  -webkit-animation-duration: .9s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction:alternate-reverse;
}

#aboutUs .btnSlider h4{
  padding: 5px;
}

#slider_hidden {
  position: absolute;
  top: 0;
  right: 0vw;
  width: 50vw;
  height: 100%;
  background-color: #d7d3bc;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  overflow:hidden;
  transform: translateX(50vw);
  transition: transform .5s;
}

#slider_hidden.show {
  left: 50vw;
  transform: translateX(0vw);
}

#slider_hidden .btnSlider-less {
  border-bottom-right-radius: 35%;
  border-top-right-radius: 35%;
}

#slider_hidden .btnSlider-less h4{
  text-align: right;
}

#slider_hidden .slider-content {
  position:absolute;
  padding: 20px;
  left: 75px;
  /*
  display: table-cell;
  */
}

@-webkit-keyframes example {
  from{background-color: #c8c4ae;}
  to{background-color: #efefe8;}
}

@keyframes example {
  from{background-color: #c8c4ae;}
  to{background-color: #efefe8;}
}

#slider_hidden .slider-content div, .medal{
  display: table-cell;
  vertical-align: middle;
}

.roundedImage, .roundedImageShadow, .roundedImageBorder {
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius: 50%;
  border-radius:50px;
  width:90px;
  height:90px;
}
.roundedImageShadow{
  -moz-box-shadow: 0px 0px 10px #343434;
  -webkit-box-shadow: 0px 0px 10px #343434;
  -o-box-shadow: 0px 0px 10px #343434;
  box-shadow: 0px 0px 10px #343434;
}
.roundedImageBorder{
  border: 1px solid #006699;
}

@media (min-width: 992px) {
  #mySlider {
    display: inherit;
  }
}

span::before{
  content: " ";
}
span::after{
  content: " ";
}