body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
}

a {
    color: #00B7FF;
}

#companyName {
  position: relative;
  z-index: 2;
}

#headerQuote {
    background-color: #3e9c39;
    text-align: center;
}

#companyDesc {
  position: relative;
  z-index: 0;
}

@media (max-width: 40em) {
  #ourLuster {
    display: none;
  }

}
#ourLuster {
  position: absolute;
  bottom: 85%;
  z-index: 1;
}


/*Nico*/
#logo-sm{
    width: 50%;
}

#sectionQuote{
    display: flex;
    align-items: center;
    align-content: center;
}

#myQuote{
    /*margin-top: 15px;*/
}

.secLine{
    width: 100%;
    color: black;
    height: 1px;
    background-color:black;
    margin: 0px;
}
