body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

a {
  color: #00B7FF;
}
#companyName {
  position: relative;
  z-index: 2;
}

#companyDesc {
  position: relative;
  z-index: 0;
}

#ourLuster {
  position: absolute;
  bottom: 85%;
  z-index: 1;
}
